<header class="header">
  <nav class="navbar navbar-expand-lg" style="background-color: #0d1117;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="color: white" >
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><i class="fa fa-ravelry fa-lg" aria-hidden="true" style="color:#07be94;;">&nbsp;<b>Insane</b></i></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  
          <li class="nav-item active"><a class="nav-link"  href="#home" style="color: white;"><b>Home</b></a></li>
          <li class="nav-item"><a class="nav-link" href="#mission-container" style="color: white;"><b>DEPARTMENTS & SERVICES</b></a></li>
          <li class="nav-item"><a class="nav-link"  href="#clients" style="color: white;"><b>Covid-19 DashBoard</b></a></li>
          <li class="nav-item"><a class="nav-link" (click)="contactUs()" style="color: white;"><b>Contact Us </b></a></li>
          <li class="nav-item"><a class="nav-link" href="#contact" style="color: white;"><b>Feedback</b></a></li>
  </ul>
      <form class="form-inline my-2 my-lg-0">
          <i class="fa fa-search w3-hover-opacity fa-2x" style="color: white;"></i>  &nbsp;
        </form>
        
      </div>
  </nav>
  </header>