<app-navbar></app-navbar>
<div class="ok">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="contact-form-warp">
                <div class="section-title text-white text-left">
                    <h2>Get in Touch</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </p>
                </div>
                <form class="contact-form">
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="Your E-mail">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>
                    <button class="site-btn">Sent Message</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-info-area">
                <div class="section-title text-left p-0">
                    <h2>Contact Info</h2>
                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendi sse cursus faucibus finibus.</p>
                </div>
                <div class="phone-number">
                    <span>Direct Line</span>
                    <h2>+91 123456789</h2>
                </div>
                <ul class="contact-list">
                    <li>Mumbai Maharashtra</li>
                    <li>+91 7005555566</li>
                    <li>insane@gmail.com</li>
                </ul>
                <div class="social-links">
                    <i class="fa fa-pinterest"></i> &nbsp;
                    <i class="fa fa-facebook"></i> &nbsp;
                    <i class="fa fa-twitter"></i> &nbsp;
                    <i class="fa fa-dribbble"></i> &nbsp;
                </div>
            </div>
        </div>
    </div>

<br>
<hr>
<br>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <!-- blog post -->
            <div class="blog-post">
                <div ><div style="width: 100%"><iframe width="1300"  height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=criticare%20hosptial,andheri%20west+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
      </div>
            </div>
        </div>
    </div>
</div>

<section class="banner-section spad">
<div class="container">
    <div class="section-title mb-0 pb-2">
        <h2>Join Our Community Now!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="text-center pt-5">
        <a href="#" class="site-btn">Register Now</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a (click) = "home()" class="site-btn">Back</a>
    </div>
    <div class="text-center pt-5">
    </div>
</div>
</section>
</div>
<app-footer></app-footer>