<div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width: 30rem;">
  <div class="card-header">
    <h3>Forget Password</h3>
  </div>
  <div class="card-body">
    <form novalidate [formGroup]="forgetPasswordForm" (ngSubmit)="saveData()">
      <div class="form-group">
        <label>Patient ID</label>
        <input type="number" class="form-control input" formControlName="patientId" required readonly>
        <div class="alert alert-danger" *ngIf="forgetPasswordForm.get('patientId').hasError('required') &&
            forgetPasswordForm.get('patientId').dirty">
          Patient ID is Required
        </div>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control input" formControlName="phoneNumber" required>
        <div class="alert alert-danger" *ngIf="forgetPasswordForm.get('phoneNumber').hasError('required') &&
            forgetPasswordForm.get('phoneNumber').dirty">
          Phone Number is Required
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control input" id="password" formControlName="password"
          [(ngModel)]="password" required>
      </div>

      <div class="form-group">
        <label>Confirm-Password</label>
        <input type="text" class="form-control input" id="confirm_password" formControlName="confirm_password"
          [(ngModel)]="confirm_password" required>
      </div>
      <div class="alert alert-danger" *ngIf="passwordMatch(password ,confirm_password)">
        Password doesn't match
      </div>
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!forgetPasswordForm.valid">Reset</button> &nbsp;
      <button type="reset" class="btn btn-dark btn-sm ml-2" (click)="Back()">Back</button>
    </form>
    <br><br>
    
    <font color = red size = 5px>{{ errorMsg }}</font>
  <font color = green size = 5px>{{ succesMsg }}</font>
  </div>
</div>
<app-footer></app-footer>