<app-navbar></app-navbar>

<font color = green size = 5px>{{ message }}</font>

<div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width: 30rem;">  
    <div class="card-header">  
    <h3>Forget Password</h3> 
    </div>  
    <div class="card-body">  
    <form novalidate [formGroup]="adminForgetPasswordForm"  (ngSubmit)="saveData()">  
        <div class="form-group">
            <label>Admin ID</label>
            <input type="number" class="form-control input" formControlName="adminId" required id = "adminId" [readonly]="Id!=-1 ? true :false">
            <div class="alert alert-danger" *ngIf="adminForgetPasswordForm.get('adminId').hasError('required') &&
            adminForgetPasswordForm.get('adminId').dirty">
              Admin ID is Required
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control input" formControlName="phoneNumber" required>
            <div class="alert alert-danger" *ngIf="adminForgetPasswordForm.get('phoneNumber').hasError('required') &&
            adminForgetPasswordForm.get('phoneNumber').dirty">
              Phone Number is Required
            </div>
          </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control input" id="password" formControlName="password" [(ngModel)]="password"
          required>
      </div>

      <div class="form-group">
        <label>Confirm-Password</label>
        <input type="text" class="form-control input" id="confirm_password" formControlName="confirm_password"
          [(ngModel)]="confirm_password" required>
      </div>
      <div class="alert alert-danger" *ngIf="passwordMatch(password ,confirm_password)">
        Password doesn't match
      </div>
    
   
   
    <button type="submit" [disabled] ="!adminForgetPasswordForm.valid" class="btn btn-primary btn-sm" >Change password</button>  &nbsp;
    <button type="reset" class="btn btn-dark btn-sm ml-2" (click) = "Back()">Back</button>  
    </form>  
    </div>  
    </div>  
    <app-footer></app-footer>