<app-navbar></app-navbar>
<div class="main">
	<button class = "btn btn-dark"  (click) = "Back()">Back</button>

	<div class="course-item">
	<br><br><h1 style="color: black;"> <b>Medicines Available At Hospital Store</b></h1><br><br>
<table align="center" class="table2">
	<tr>
		<td>
			
		    <input type="image" src="assets/images/opium.jpeg" alt="submit" width="350" height="200" align="center">
		    <br><label> Opium</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>
	   <td>
		    <input type="image" src="assets/images/alverin.jfif" alt="submit" width="350" height="200" align="center">
		    <br><label>Alverin</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>
		<td>
			
		    <input type="image" src="assets/images/astracon.jfif" alt="submit" width="350" height="200" align="center">
		    <br><label>Astracon</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>
  	</tr><br>
	<tr>
		<td>
			
		    <input type="image" src="assets/images/imizol.jfif" alt="submit" width="350" height="200" align="center">
		    <br><label >Imizol</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>
	   <td>
		    <input type="image" src="assets/images/normens.jfif" alt="submit" width="350" height="200" align="center">
		    <br><label>Normens</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>
		<td>
			
		    <input type="image" src="assets/images/norry.jfif" alt="submit" width="350" height="200" align="center">
		    <br><label>Norry</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>	
  	</tr><br>
	  <tr>
		<td>
		    <input type="image" src="assets/images/algin.jfif" alt="submit" width="350" height="200" align="center">
		    <br><label >Algins</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>
	   <td>
		    <input type="image" src="assets/images/nyquil.jfif" alt="submit" width="350" height="200" align="center">
		    <br><label>Nyquil</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div><button class="btn btn-success">Buy Now</button>
			</div>
        </td>
		<td>
		    <input type="image" src="assets/images/Panadol.jpg" alt="submit" width="350" height="200" align="center">
		    <br><label>Panadol</label>
			<div class="course-thumb set-bg" data-setbg="img/courses/fs.png">
				<div class="price">Price: Free</div> <button class="btn btn-success">Buy Now</button>
			</div>
        </td>	
  	</tr>
   </table>
   </div>
   </div>
   <app-footer></app-footer>